<form class="" [formGroup]="this.descuentosService.formRegistroPorcentaje" (ngSubmit)="registro()">
  <div class="input-group mb-3">
    <input type="hidden" formControlName="IdUsuario">
    <input formControlName="Porcentaje" type="number" id="Porcentaje" placeholder="Ingresa el Porcentaje"
           class="form-control "/>
    <button type="submit" [disabled]="this.descuentosService.formRegistroPorcentaje.invalid"
            class="btn btn-outline-secondary" title="Guardar"><i class="far fa-save"></i></button>
    <button type="button" (click)="this.descuentosService.formRegistroPorcentaje.reset();
        this.descuentosService.formPorcentaje=false" class="btn btn-outline-secondary" title="Limpiar"><i
      class="fas fa-broom"></i></button>
  </div>
  <div
    *ngIf="this.descuentosService.Porcentaje.invalid && (this.descuentosService.Porcentaje.touched || this.descuentosService.Porcentaje.dirty)"
    class="alertad mb-20" style=" ">
    <div *ngIf="this.descuentosService.Porcentaje.hasError('required')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
    <div *ngIf="this.descuentosService.Porcentaje.hasError('min')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Porcentaje debe ser mayor a cero
    </div>
    <div *ngIf="this.descuentosService.Porcentaje.hasError('max')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Porcentaje debe ser menor
    </div>
  </div>
</form>
