<form class="" [formGroup]="this.productoService.formularioRegistroEntrada" (ngSubmit)="registroEntrada()">
            <div>
              <label for="Cantidad"> agregar Stock <span>**</span></label>
              <input formControlName="Cantidad" type="number"  id="Cantidad" placeholder="Cantidad" class="form-control " />
            </div>
          
        <button type="submit" [disabled]="this.productoService.formularioRegistroEntrada.invalid" class="btn btn-outline-secondary" title="Guardar"><i class="far fa-save"></i></button>
        <button type="button" (click)="this.productoService.formularioRegistroEntrada.reset(); this.productoService.formularioEntrada=false" class="btn btn-outline-secondary" title="Limpiar"><i class="fas fa-broom"></i></button>
</form>
