<section class="content">
  <div class="content-wrapper">
    <br>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-5 connectedSortable">
                <div class="tab-content p-0">
                  <app-listar-porcentajes ></app-listar-porcentajes>
                </div>
          </section>
          <section class="col-lg-7 connectedSortable">
                <div class="tab-content p-0">
                  <app-listar-valor-ruleta ></app-listar-valor-ruleta>

              </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>





