<section class="content">
  <div class="content-wrapper">
    <br>
    <section class="content">
      <div class="container-fluid">
          <section class="connectedSortable">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title colortxt font-weight-light">
                  <i class="bi bi-tools"></i> MONTAJES
                </h2>
              </div>
              <div class="card-body">
                  <app-listar-montaje></app-listar-montaje>
              </div>
            </div>
          </section>
        </div>
    </section>
  </div>
</section>

