<section class="content">
  <div class="content-wrapper">
    <br>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-10 connectedSortable">
            <div class="card">
              <div class="card-header">
                <h1 class="card-title colortxt font-weight-light">
                  <i class="bi bi-mailbox"></i> SOLICITUDES
                </h1>
              </div>
              <div class="card-body">
                <div class="tab-content p-0">
                  <app-listar-solicitudes-personalizadas></app-listar-solicitudes-personalizadas>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>

