<section class="content" xmlns="http://www.w3.org/1999/html">
  <div class="content-wrapper">
    <br>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-5 connectedSortable">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title colortxt font-weight-light">
                  <i class="bi bi-receipt"></i> VENTAS
                </h2>
              </div>
              <div class="card-body">
                <div class="tab-content p-0">
                  <app-listar-ventas></app-listar-ventas>
                </div>
              </div>
            </div>
          </section>
          <section class="col-lg-7 connectedSortable">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title colortxt font-weight-light">
                  <i class="bi bi-plus-circle "></i> REGISTRO
                </h2>
              </div>
              <div class="card-body">
                <div class="tab-content p-0">
                  <app-registrar-venta></app-registrar-venta>
                </div>
                <div class="card-body" *ngIf="this.ventasService.desplegarDetalle">
                  <app-detalle-venta-completo></app-detalle-venta-completo>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>



