<section class="content" *ngIf="!this.productoService.desplegarDetalle">
  <div class="content-wrapper">
    <br>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-7 connectedSortable">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title colortxt font-weight-light">
                  <i class="bi bi-info-circle"></i>
                  INFORMACIÓN SOLICITUD
                </h2>
                <div style="float: right" >
                   <a href="Admin/respuestasSP/{{this.solicitudesPersonalizadasService.SolicitudPersonalizada.IdSolicitudPersonalizada}}" class="btn colortxt font-weight-light">
                     <i class="bi bi-chat-square-dots-fill colortxt"></i> Respuestas</a>
                    <a href="Admin/editarSP/{{this.solicitudesPersonalizadasService.SolicitudPersonalizada.IdSolicitudPersonalizada}}" class="btn  colortxt font-weight-light"><i class="bi bi-pencil-fill colortxt"></i> Editar</a>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content p-0">
                  <div class="row">
                    <div class="col">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                       <label class="p-1 colortxt "> Id Solicitud: </label>
                      {{this.solicitudesPersonalizadasService.SolicitudPersonalizada.IdSolicitudPersonalizada}}
                    </div>
                    <div class="col">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                       <label class="p-1 colortxt "> Usuario: </label>
                      {{this.solicitudesPersonalizadasService.SolicitudPersonalizada.Usuario}}
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col ">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                       <label class="p-1 colortxt "> Fecha: </label>
                      {{this.solicitudesPersonalizadasService.SolicitudPersonalizada.Fecha | date:'dd-MM-yyyy'}}
                    </div>
                    <div class="col ">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                      <label class="p-1 colortxt "> Valor total: </label>
                      {{this.solicitudesPersonalizadasService.SolicitudPersonalizada.ValorTotal}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col ">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                       <label class="p-1 colortxt ">Alto: </label>
                      {{this.solicitudesPersonalizadasService.SolicitudPersonalizada.Alto}}
                    </div>
                    <div class="col ">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                       <label class="p-1 colortxt "> Ancho: </label>
                      {{this.solicitudesPersonalizadasService.SolicitudPersonalizada.Ancho}}
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                       <label class="p-1 colortxt "> Fondo: </label>
                      {{this.solicitudesPersonalizadasService.SolicitudPersonalizada.Fondo}}
                    </div>
                    <div class="col ">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                       <label class="p-1 colortxt "> Estado: </label>
                      {{this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado}}
                    </div>
                  </div>
                  <div>
                    <div class="row bg-gray-light">
                      <div class="col">
                        <label class="p-1 colortxt ml-3"> Descripción: </label>
                      </div>
                    </div>
                    <div class="row bg-gray-light">
                      <div class="col">
                        <label class="font-weight-light text-justify ml-4 mr-3" style="text-align: justify-all; ">
                          {{this.solicitudesPersonalizadasService.SolicitudPersonalizada.Descripcion}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col "
                         *ngIf="(this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado != 'Aceptada')&&
                       (this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado == 'Enviada' ||
                       this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado == 'Modificada'||
                       this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado == 'Devuelta')">
                      <button class="btn btn-primary" (click)="cotizar()">Cotizar</button>
                    </div>
                    <div class="col "
                         *ngIf="( this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado == 'Pagada')">
                      <button class="btn btn-primary" (click)="Fabricar()">Fabricar</button>
                    </div>
                    <div class="col"
                         *ngIf="this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado == 'En proceso de fabricacion'">
                      <button class="btn btn-success" (click)="Terminar()">Terminar</button>
                    </div>
                    <div class="col"
                         *ngIf="this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado == 'Terminada'">
                      <button class="btn btn-success" (click)="Entregar()">Entregar</button>
                    </div>
                    <div class="col"
                         *ngIf="this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado != 'Aceptada' &&
                       this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado == 'Rechazada'||
                       this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado == 'Devuelta' ||
                       this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado == 'Cotizada'">
                      <button class="btn btn-dark" (click)="cotizar()">Reiniciar cotizacion</button>
                    </div>
                    <div class="col"
                         *ngIf="this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado != 'Aceptada' &&
                       this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado == 'En proceso de cotizacion'">
                      <button class="btn btn-success" (click)="TerminarCotizacion()">Terminar Cotizacion</button>
                    </div>
                    <div class="col"
                         *ngIf="this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado != 'Aceptada' &&
                       this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado != 'Rechazada' &&
                       this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado != 'Cancelada'&&
                       this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado != 'Pagada'&&
                       this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado != 'En proceso de fabricacion'&&
                       this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado != 'Terminada'&&
                       this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado != 'Entregada'">
                      <button class="btn btn-danger" (click)="cancelar()">Rechazar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="col-lg-7 connectedSortable">
            <app-listar-detalle-producto></app-listar-detalle-producto>
          </section>
          <section  class="col-lg-5 connectedSortable" style="margin-top: -36%" *ngIf="this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado == 'En proceso de cotizacion' ">
            <app-registrar-editar-producto-solicitud-perzonalizada></app-registrar-editar-producto-solicitud-perzonalizada>
          </section>

        </div>
      </div>
    </section>
  </div>
</section>
<section class="content">
  <div class="content-wrapper">
    <br>
    <section class="content">
      <section class="content">
        <section class=" connectedSortable">
          <div *ngIf="this.productoService.desplegarDetalle">
            <app-detalle-producto-detalle></app-detalle-producto-detalle>
          </div>
        </section>
      </section>
    </section>
  </div>
</section>




