<table class="table table-hover">
  <thead>
  <tr>
    <th class="text-right">Nombre Producto</th>
    <th class="text-right">Cantidad</th>
    <th class="text-right">Subtotal</th>
  </tr>
  </thead>
  <tbody *ngFor="let venta of ventasService.listaDetalleVentaProductos">
  <tr>
    <td class="text-right">{{venta.NombreProducto}}</td>
    <td class="text-right">{{venta.Cantidad}}</td>
    <td class="text-right">{{venta.SubTotal}}</td>
  </tr>
  </tbody>
</table>
<hr>
<div class=" mt-3">
  <h4><b>Cliente :</b>  {{this.ventasService.detalleVenta.NombreUsuario}}</h4>
  <h4><b> Descuento({{this.ventasService.detalleVenta.PorcentajeDescuento}}%)
    :</b> {{this.ventasService.detalleVenta.ValorDescuento}}</h4>
  <h4><b>Iva({{this.ventasService.detalleVenta.ValorIva}}%) :</b>  {{this.ventasService.detalleVenta.TotalIva}}</h4>
  <h4><b>Valor Total :</b>  {{this.ventasService.detalleVenta.Total}}</h4>
</div>


