<div style="margin-top: -30%">
  <div>
    <section class="col-lg-7 connectedSortable">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title colortxt font-weight-light">
            <i class="bi bi-info-circle"></i> INFORMACIÓN DEL PRODUCTO
          </h2>
        </div>
        <div class="card-body">
          <div class="tab-content p-0">
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Id: </label>
                <label class="font-weight-light"> {{this.productoService.detalleProducto.IdProducto}}</label>
              </div>
              <div class="col">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Estado: </label>
                <label *ngIf="this.productoService.detalleProducto.Estado" class="font-weight-light">Activo</label>
                <label *ngIf="!this.productoService.detalleProducto.Estado" class="font-weight-light">Inactivo</label>
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Nombre: </label>
                <label class="font-weight-light"> {{this.productoService.detalleProducto.Nombre}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt">Largo: </label>
                <label class="font-weight-light">{{this.productoService.detalleProducto.Largo}}</label>
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Ancho: </label>
                <label class="font-weight-light"> {{this.productoService.detalleProducto.Ancho}}</label>
              </div>
            </div>
            <div class="row ">
              <div class="col">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Fondo: </label>
                <label class="font-weight-light">{{this.productoService.detalleProducto.Fondo}}</label>
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Tipo puerta: </label>
                <label class="font-weight-light">{{this.productoService.detalleProducto.TipoPuerta}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Descripción: </label>
                <label class="font-weight-light" style="text-align: justify-all; ">{{this.productoService.detalleProducto.Descripcion}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Ruedas: </label>
                <label class="font-weight-light">{{this.productoService.detalleProducto.Ruedas}}</label>
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Puntos: </label>
                <label class="font-weight-light"> {{this.productoService.detalleProducto.Puntos}}</label>
              </div>
            </div>
            <div class="row ">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Id usuario:</label>
                <label class="font-weight-light">{{this.productoService.detalleProducto.IdUsuario}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Id Categoria: </label>
                <label class="font-weight-light">{{this.productoService.detalleProducto.IdCategoria}}</label>
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Categoria:
                </label><label class="font-weight-light">{{this.productoService.detalleProducto.NombreCategoria}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Meses de garantía: </label>
                <label class="font-weight-light">{{this.productoService.detalleProducto.GarantiaMeses}}</label>
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Precio:</label>
                <label class="font-weight-light">{{this.productoService.detalleProducto.Precio}}</label>
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt fw-bold"></i>
                <label class="p-1 colortxt"> Cantidad: </label>
                <label class="font-weight-light">{{this.productoService.detalleProducto.CantidadStock}}</label>
              </div>
            </div>
          </div>
          <div></div>
        </div>
      </div>
    </section>
  </div>
  <div style="margin-block: 5%;">
    <app-listar-precio></app-listar-precio>
  </div>
  <div>
    <app-listar-imagen></app-listar-imagen>
  </div>
  <div>
    <app-listar-detalle-material></app-listar-detalle-material>
  </div>
  <div>
    <app-listar-entradas></app-listar-entradas>
  </div>
  <div>
    <app-listar-iva></app-listar-iva>
  </div>
  <div>
    <app-listar-salidas></app-listar-salidas>
  </div>
</div>
