
<table class="table table-hover col-2">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody *ngFor="let precio of productoService.listaPrecios">
        <tr>
            <td >{{precio.IdPrecioProducto}}</td>
            <td >{{precio.Precio}}</td>
        </tr>
    </tbody>
</table>

<div class="col-12">

    <h3>Detalle Producto</h3>
    <dl class="row mx-auto">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.IdProducto}}
        </dd>
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.Nombre}}
        </dd>
        <dt class="col-sm-2">
            Estado
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.Estado}}
        </dd>
        <dt class="col-sm-2">
            Ancho
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.Ancho}}
        </dd>
        <dt class="col-sm-2">
            Largo
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.Largo}}
        </dd>
        <dt class="col-sm-2">
            Fondo
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.Fondo}}
        </dd>
        <dt class="col-sm-2">
            TipoPuerta
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.TipoPuerta}}
        </dd>
        <dt class="col-sm-2">
            Descripcion
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.Descripcion}}
        </dd>
        <dt class="col-sm-2">
            Ruedas
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.Ruedas}}
        </dd>
        <dt class="col-sm-2">
            IdUsuario
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.IdUsuario}}
        </dd>
        <dt class="col-sm-2">
            Puntos
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.Puntos}}
        </dd>
        <dt class="col-sm-2">
            IdCategoria
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.IdCategoria}}
        </dd>
        <dt class="col-sm-2">
            GarantiaMeses
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.GarantiaMeses}}
        </dd>
        <dt class="col-sm-2">
            Precio
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.Precio}}
        </dd>
        <dt class="col-sm-2">
            NombreCategoria
        </dt>
        <dd class="col-sm-10">
            {{this.productoService.detalleProducto.NombreCategoria}}
        </dd>
    </dl>
</div>

