<table class="table  table-striped">
    <thead>
        <tr class="colortxt">
            <th scope="col">Producto</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let producto of solicitudesPersonalizadasService.listaDetallesProductosMontajes">
        <tr>
            <td>{{producto.IdProducto}}</td>
            <td><i (click)=" detalleProducto(producto.IdProducto); this.productoService.desplegarDetalle =!this.productoService.desplegarDetalle; " class="bi bi-eye pointer" aria-hidden="true"></i></td>
        </tr>
    </tbody>
</table>
