<form class="" [formGroup]="this.productoService.formularioRegistroSalida" (ngSubmit)="registroSalida()">
  <div class="input-group mb-3 ">
    <input formControlName="Cantidad" type="number" id="Cantidad" placeholder="Ingrese stock" class="form-control "/>

    <button type="submit" [disabled]="this.productoService.formularioRegistroSalida.invalid" class="btn btn-outline-secondary" title="Guardar"><i class="far fa-save"></i></button>
    <button type="button" (click)="this.productoService.formularioRegistroSalida.reset(); this.productoService.formularioSalida=false" class="btn btn-outline-secondary" title="Limpiar"><i class="fas fa-broom"></i></button> </div>
  <div
    *ngIf="this.productoService.CantidadSalida.invalid && (this.productoService.CantidadSalida.touched || this.productoService.CantidadSalida.dirty)"
    class="alertad mb-20" style=" ">
    <div *ngIf="this.productoService.CantidadSalida.hasError('required')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
    <div *ngIf="this.productoService.CantidadSalida.hasError('min')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Cantidad debe ser mayor a cero
    </div>
    <div *ngIf="this.productoService.CantidadSalida.hasError('max')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Cantidad debe ser menor
    </div>
  </div>
</form>

