<div>
  <div>
    <section class=" connectedSortable">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title colortxt font-weight-light">
            <i class="bi bi-info-circle"></i> INFORMACIÓN DEL PRODUCTO
          </h2>
          <mat-icon class="float-right pointer"
                    (click)="this.productoService.desplegarDetalle = !this.productoService.desplegarDetalle">arrow_back
          </mat-icon>
        </div>
        <div class="card-body">
          <div class="tab-content p-0">
            <div class="row">
              <div class="col">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Id: </label>
                {{this.productoService.detalleProducto.IdProducto}}
              </div>
              <div class="col">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Estado: </label>
                {{this.productoService.detalleProducto.Estado}}
              </div>
            </div>
            <div class="row">
              <div class=" col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Nombre: </label>
                {{this.productoService.detalleProducto.Nombre}}
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Cantidad:
                </label>{{this.productoService.detalleProducto.CantidadStock}}
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt ">Largo: </label>
                {{this.productoService.detalleProducto.Largo}}
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Ancho: </label>
                {{this.productoService.detalleProducto.Ancho}}
              </div>
            </div>
            <div class="row ">
              <div class="col">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Fondo: </label>
                {{this.productoService.detalleProducto.Fondo}}
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Tipo puerta: </label>
                {{this.productoService.detalleProducto.TipoPuerta}}
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Precio:
                </label>{{this.productoService.detalleProducto.Precio}}
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Meses de garantía: </label>
                {{this.productoService.detalleProducto.GarantiaMeses}}
              </div>

            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Ruedas: </label>
                {{this.productoService.detalleProducto.Ruedas}}
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Puntos: </label>
                {{this.productoService.detalleProducto.Puntos}}
              </div>
            </div>
            <div class="row ">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Usuario:
                </label>{{this.productoService.detalleProducto.Usuario}}
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Categoría:
                </label>{{this.productoService.detalleProducto.NombreCategoria}}
              </div>
            </div>
            <div>
              <div class="row bg-gray-light">
                <div class="col">
                  <label class="p-1 colortxt ml-3"> Descripción: </label>
                </div>
              </div>
              <div class="row bg-gray-light">
                <div class="col">
                  <label class="font-weight-light text-justify ml-4 mr-3" style="text-align: justify-all; ">
                    {{this.productoService.detalleProducto.Descripcion}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div >
    <app-listar-precio-producto-m></app-listar-precio-producto-m>
  </div>
  <div>
    <app-listar-entrada-producto-m></app-listar-entrada-producto-m>
  </div>
  <div>
    <app-listar-salidas-producto-m></app-listar-salidas-producto-m>
  </div>
  <div>
    <app-listar-material-producto-m></app-listar-material-producto-m>
  </div>
</div>
