<section class="login-area pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="basic-login">
          <a type="button" href="usuarios/inicio" class="os-btn w-100">atras</a>
          <h3 class="text-center mb-60">Inicia sesion desde aquí</h3>
          <form [formGroup]="this.usuarioService.formularioLogin" (ngSubmit)="this.onSubmit()">

            <label for="name">Correo electrónico <span>**</span></label>
            <input formControlName="Email" id="name" type="email" placeholder="Ingrese email" />

            <!--Validacion correo-->
            <div
              *ngIf="this.usuarioService.nombreUsuarioLogin.invalid && (this.usuarioService.nombreUsuarioLogin.touched || this.usuarioService.nombreUsuarioLogin.dirty)"
              class="text-danger mb-20 text-center">
              <div *ngIf="this.usuarioService.nombreUsuarioLogin.hasError('required')">El correo es obligatorio</div>
              <div *ngIf="this.usuarioService.nombreUsuarioLogin.hasError('email')">Digite un correo valido</div>
              <div *ngIf="this.usuarioService.nombreUsuarioLogin.hasError('maxLength')">El correo debe contener máximo
                50 caracteres</div>
            </div>


            <label for="pass">Contraseña <span>**</span></label>
            <input formControlName="Contrasena" id="pass" type="password" placeholder="Ingrese contraseña" />

            <!--Validacion Contraseña-->
            <div *ngIf="this.usuarioService.contrasenaLogin.invalid && (this.usuarioService.contrasenaLogin.touched
                                 || this.usuarioService.contrasenaLogin.dirty)" class="text-danger mb-20 text-center">

              <div *ngIf="this.usuarioService.contrasenaLogin.hasError('required')">La contraseña es obligatoria</div>
              <div *ngIf="this.usuarioService.contrasenaLogin.hasError('maxLength')">La contraseña debe contener máximo
                15 caracteres</div>
            </div>


            <div class="login-action mb-20 fix">
              <span class="log-rem f-left">
                <input id="remember" type="checkbox" />
                <label for="remember">¡Recuérdame!</label>
              </span>
              <span class="forgot-login f-right">
                <a href="" routerLink='/usuarios/restablecimientoContraseña'>¿Olvidaste tu contraseña?</a>
              </span>
            </div>
            <button [disabled]="this.usuarioService.formularioLogin.invalid" type="submit" class="os-btn w-100">Iniciar
              sesión</button>
            <div class="or-divide"><span></span></div>
            <a href="" routerLink='/usuarios/registro' class="os-btn os-btn-black w-100">Registrar</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
