<div class="row">
  <div class="col-6 mt-20 ml-20">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col"># compra</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Valor iva</th>
        <th scope="col">Total</th>
        <th></th>

      </tr>
      </thead>
      <tbody *ngFor="let venta of ventasService.listaVentas">
      <tr>
        <td>{{venta.IdVenta}}</td>
        <td>{{venta.SubTotal}}</td>
        <td>{{venta.TotalIva}}</td>
        <td>{{venta.Total}}</td>
        <td><button  (click)="detalleVenta(venta.IdVenta)" class="btn btn-info" type="button">Detalle</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="this.ventasService.desplegarDetalle" class="col-5">
    <app-detalle-venta-completo></app-detalle-venta-completo>
  </div>

</div>

