<div style="display: flex;justify-content: center;align-items: center;" class="mb-10 py-3">
  <div class="card" style="width:80%;  ">
    <div class="card-header">
      <h1 class="card-title colortxt font-weight-light">
        <i class="fas fa-toolbox"></i> MIS MONTAJES
      </h1>
    </div>
    <div class="card-body">
      <div class="tab-content p-0">
        <mat-form-field>
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Eje. Mia" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- Progress Column -->
            <ng-container matColumnDef="IdMontaje">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
              <td mat-cell *matCellDef="let row"> {{row.IdMontaje}} </td>
            </ng-container>

            <ng-container matColumnDef="Fecha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
              <td mat-cell *matCellDef="let row"> {{row.Fecha | date:'dd-MM-yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="Estado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
              <td mat-cell *matCellDef="let row"> {{row.Estado}} </td>
            </ng-container>
            <ng-container matColumnDef="Direccion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección</th>
              <td mat-cell *matCellDef="let row"> {{row.Direccion}} </td>
            </ng-container>
            <ng-container matColumnDef="ValorTotal">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ValorTotal</th>
              <td mat-cell *matCellDef="let row"> {{row.ValorTotal}}
              </td>
              <ng-container matColumnDef="Opciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/solicitudes/Montajes',row.IdMontaje]" class="text-secondary " title="Editar" *ngIf="row.Estado == 'Enviada'|| row.Estado == 'Modificada'"><i class="bi bi-pencil-fill"></i> </a>
                  <a [routerLink]="['/solicitudes/detalleM',row.IdMontaje]" class="text-info ml-2" title="Ver"><i class="bi bi-eye-fill"></i> </a>
                  <a href="solicitudes/respuestasM/{{row.IdMontaje}}" class="text-dark ml-2" title="Respuestas" *ngIf="row.Estado != 'Rechazada' && row.Estado != 'Cancelada'"><i class="bi bi-chat-square-dots-fill"></i></a>
                </td>

              </ng-container>

            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No hay datos que coincidan con la busqueda"{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<table class="table table-hover">-->
<!--  <thead>-->
<!--  <tr class="colortxt">-->
<!--    <th scope="col">Id</th>-->
<!--    <th scope="col">Fecha</th>-->
<!--    <th scope="col">Estado</th>-->
<!--    <th scope="col">Dirección</th>-->
<!--    <th scope="col">Valor Total</th>-->
<!--    <th></th>-->

<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody *ngFor="let montaje of this.solicitudesPersonalizadasService.listaMontajes">-->
<!--  <tr>-->
<!--    <td>{{montaje.IdMontaje}}</td>-->
<!--    <td>{{montaje.Fecha}}</td>-->
<!--    <td>{{montaje.Estado}}</td>-->
<!--    <td>{{montaje.Direccion}}</td>-->
<!--    <td>{{montaje.ValorTotal}}</td>-->
<!--    <td>-->
<!--      <div class="form-group row">-->
<!--        <div class="col-md-2">-->
<!--          <a class="btn btn-sm btn-outline-secondary" title="Editar" [routerLink]="['/solicitudes/Montajes',montaje.IdMontaje]" *ngIf="montaje.Estado == 'Enviada'|| montaje.Estado == 'Modificada'"><i class="bi bi-pencil-fill"></i> </a>-->
<!--        </div>-->
<!--        <div class="col-md-2">-->
<!--          <a [routerLink]="['/solicitudes/detalleM',montaje.IdMontaje]" class="btn btn-sm btn-outline-info" title="Ver"><i class="bi bi-eye-fill"></i> </a>-->
<!--        </div>-->
<!--        <div class="col-md-2">-->
<!--          <a href="solicitudes/respuestasM/{{montaje.IdMontaje}}" class="btn btn-sm btn-outline-dark" title="Respuestas" *ngIf="montaje.Estado != 'Rechazada' && montaje.Estado != 'Cancelada'"><i class="bi bi-chat-square-dots-fill"></i></a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
