<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Valor Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let solicitud of this.solicitudesPersonalizadasService.listaSolicitudPersonalizada">
        <tr>
            <td >{{solicitud.IdSolicitudPersonalizada}}</td>
            <td >{{solicitud.Fecha}}</td>
            <td >{{solicitud.Estado}}</td>
            <td >{{solicitud.ValorTotal}}</td>
            <td><a [routerLink]="['/solicitudes/Solicitud',solicitud.IdSolicitudPersonalizada]">Editar</a></td>
        </tr>
    </tbody>
</table>