<!-- <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Valor Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let solicitud of this.solicitudesPersonalizadasService.listaSolicitudPersonalizada">
        <tr>
            <td >{{solicitud.IdSolicitudPersonalizada}}</td>
            <td >{{solicitud.Fecha}}</td>
            <td >{{solicitud.Estado}}</td>
            <td >{{solicitud.ValorTotal}}</td>
            <td><a [routerLink]="['/solicitudes/Solicitud',solicitud.IdSolicitudPersonalizada]">Editar</a></td>
            <td><a [routerLink]="['/solicitudes/Solicitud',solicitud.IdSolicitudPersonalizada]">Ver</a></td>
        </tr>
    </tbody>
</table> -->
<div style="display: flex;justify-content: center;align-items: center;" class="mb-10 py-3">
    <div class="card" style="width:60%;  ">
        <div class="card-header">
            <h1 class="card-title" style="color: #2C4F61">
                <i class="bi bi-archive-fill"></i> Mis solicitudes
            </h1>
        </div>
        <div class="card-body">
            <div class="tab-content p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Valor Total</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let solicitud of this.solicitudesPersonalizadasService.listaSolicitudPersonalizada">
                        <tr>
                            <td>{{solicitud.IdSolicitudPersonalizada}}</td>
                            <td>{{solicitud.Fecha}}</td>
                            <td>{{solicitud.Estado}}</td>
                            <td>{{solicitud.ValorTotal}}</td>
                            <td>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <a [routerLink]="['/solicitudes/Solicitud',solicitud.IdSolicitudPersonalizada]" class="btn btn-sm btn-secondary" title="Editar"><i class="bi bi-pencil-fill"></i> </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a [routerLink]="['/solicitudes/Solicitud',solicitud.IdSolicitudPersonalizada]" class="btn btn-sm btn-info" title="Ver" style="padding-left: 5px;"><i class="bi bi-eye-fill"></i> </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>