
<form class="" [formGroup]="this.productoService.formularioRegistroIVA" (ngSubmit)="registro()">
  <div class="input-group mb-3">
    <input formControlName="Porcentaje" type="number" id="Porcentaje" placeholder="Ingresa el Porcentaje" class="form-control "/>
    <button type="submit" [disabled]="this.productoService.formularioRegistroIVA.invalid"
            class="btn btn-outline-secondary" title="Guardar"><i class="far fa-save"></i></button>
    <button type="button"
            (click)="this.productoService.formularioRegistroIVA.reset(); this.productoService.formularioIva=false"
            class="btn btn-outline-secondary" title="Limpiar"><i class="fas fa-broom"></i></button>
  </div>


</form>

