<div>
  <div>
    <section class=" connectedSortable">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title colortxt font-weight-light">
            <i class="bi bi-info-circle"></i> INFORMACIÓN DEL PRODUCTO
          </h2>
        </div>
        <div class="card-body">
          <div class="tab-content p-0">
            <div class="row">
              <div class="col">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Id: </label>
                {{this.productoService.detalleProducto.IdProducto}}
              </div>
              <div class="col">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Estado: </label>
                {{this.productoService.detalleProducto.Estado}}
              </div>
            </div>
            <div class="row">
              <div class=" col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Nombre: </label>
                {{this.productoService.detalleProducto.Nombre}}
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt ">Largo: </label>
                {{this.productoService.detalleProducto.Largo}}
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Ancho: </label>
                {{this.productoService.detalleProducto.Ancho}}
              </div>
            </div>
            <div class="row ">
              <div class="col">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Fondo: </label>
                {{this.productoService.detalleProducto.Fondo}}
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Tipo puerta: </label>
                {{this.productoService.detalleProducto.TipoPuerta}}
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Descripción: </label>
                {{this.productoService.detalleProducto.Descripcion}}
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Ruedas: </label>
                {{this.productoService.detalleProducto.Ruedas}}
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Puntos: </label>
                {{this.productoService.detalleProducto.Puntos}}
              </div>
            </div>
            <div class="row ">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> usuario:
                </label>{{this.productoService.detalleProducto.Usuario}}
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Id Categoria: </label>
                {{this.productoService.detalleProducto.IdCategoria}}
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Categoria:
                </label>{{this.productoService.detalleProducto.NombreCategoria}}
              </div>
            </div>
            <div class="row">
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Meses de garantía: </label>
                {{this.productoService.detalleProducto.GarantiaMeses}}
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Precio:
                </label>{{this.productoService.detalleProducto.Precio}}
              </div>
              <div class="col ">
                <i class="bi bi-arrow-right-short colortxt"></i>
                <label class="p-1 colortxt "> Cantidad:
                </label>{{this.productoService.detalleProducto.CantidadStock}}
              </div>
            </div>
          </div>
          <div></div>
        </div>
      </div>
    </section>
  </div>
  <div >
    <app-listar-precio-producto></app-listar-precio-producto>
  </div>
  <div>
    <app-listar-entradas-producto></app-listar-entradas-producto>
  </div>
</div>
