 <section class="content py-5 mb-120" style="display: flex; align-content: center" *ngIf="this.usuarioService.perfilUsuario.IdRol == 2">
      <div class="container">
        <div class="row">
          <section class="col-lg-4 connectedSortable">
            <div class="card">
              <div class="card-body">
                <div class="tab-content p-0" align="center">
                  <div  style=" width: 200px; height: 200px;-moz-border-radius: 50%;  -webkit-border-radius: 50%;   border-radius: 50%;background: #2C4F61; opacity: 70%;    display: flex; align-items: center;     justify-content: center;"  class="mb-15">
                    <p style="font-size: 120px; font-family:  small-caps; color:white" >{{letra}}</p>
                  </div>
                  <div>
                    <p style="text-transform: capitalize; font-weight: lighter; font-size: 17px" class="colortxt mb-15">{{nombrecompleto}}</p>
                  </div>
                  <a *ngIf="usuario.IdRol == 2" type="button" class="os-btn w-20" href="usuarios/cambiarMiContraseña">Cambiar contraseña</a>
                  <a *ngIf="usuario.IdRol == 1" type="button" class="os-btn w-20" href="Admin/cambiarMiContraseña">Cambiar contraseña</a>
                  <button type="button" (click)="eliminarCuenta()" class="os-btn-danger w-20" title="Eliminar cuenta"><i class="bi bi-x-circle-fill"></i> </button>
                </div>
              </div>
            </div>
          </section>
          <section class="col-lg-8 connectedSortable">
            <div class="card">
              <div class="card-body">
                <div class="tab-content p-0">
                  <div class="container">
                        <div class="basic-login">
                          <h2 class="text-center mb-60 colortxt font-weight-light"> <i class="bi bi-person "></i> MI CUENTA</h2>
                          <form class="" [formGroup]="this.usuarioService.formularioRegistroEdicionDatos" (ngSubmit)="modificarDatosCuenta()">
                            <div class="row">
                              <div class="col">   <label for="name">Nombres <span>**</span></label>
                                <input formControlName="Nombres"  type="text" placeholder="Ingresa nombres"/>
                                <!--Validaciones Nombre-->
                                <div
                                  *ngIf="this.usuarioService.nombresEditCuenta.invalid && (this.usuarioService.nombresEditCuenta.touched || this.usuarioService.nombresEditCuenta.dirty)"
                                  class="alertad mb-20">
                                  <div *ngIf="this.usuarioService.nombresEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
                                  <div *ngIf="this.usuarioService.nombresEditCuenta.hasError('pattern')"><i class="bi bi-exclamation-triangle-fill"></i> El nombre no debe contener numeros o
                                    caracteres especiales
                                  </div>
                                  <div *ngIf="this.usuarioService.nombresEditCuenta.hasError('maxlength')"><i class="bi bi-exclamation-triangle-fill"></i> El nombre debe contener máximo 40 caracteres
                                  </div>
                                </div></div>
                              <div class="col">
                                <label for="Apellidos">Apellidos <span>**</span></label>
                                <input formControlName="Apellidos" type="text" placeholder="Ingresa Apellidos" id="Apellidos"/>

                                <!--Validaciones Apellidos-->
                                <div
                                  *ngIf="this.usuarioService.apellidosEditCuenta.invalid && (this.usuarioService.apellidosEditCuenta.touched || this.usuarioService.apellidosEditCuenta.dirty)"
                                  class="alertad mb-20">
                                  <div *ngIf="this.usuarioService.apellidosEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
                                  <div *ngIf="this.usuarioService.apellidosEditCuenta.hasError('pattern')"><i class="bi bi-exclamation-triangle-fill"></i> El apellido no debe contener numeros o
                                    caracteres especiales
                                  </div>
                                  <div *ngIf="this.usuarioService.apellidosEditCuenta.hasError('maxlength')"><i class="bi bi-exclamation-triangle-fill"></i> El apellido debe contener maximo 40 caracteres
                                  </div>
                                </div>
                              </div>

                            </div>
                            <br>
                            <label for="Email">Correo<span>**</span></label>
                            <input formControlName="Email" type="text" placeholder="Email"/>

                            <!--Validaciones Correo-->
                            <div
                              *ngIf="this.usuarioService.emailEditCuenta.invalid && (this.usuarioService.emailEditCuenta.touched || this.usuarioService.emailEditCuenta.dirty)"
                              class="alertad mb-20">
                              <div *ngIf="this.usuarioService.emailEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i>Este campo es obligatorio</div>
                              <div *ngIf="this.usuarioService.emailEditCuenta.hasError('email')"><i class="bi bi-exclamation-triangle-fill"></i> Digite un correo valido</div>
                            </div>

                            <div class="row">
                              <div class="col"> <br><label for="name">Tipo documento <span>**</span></label>
                                <select class="form-control" formControlName="TipoDocumento">
                                  <option value="">Elige Tipo de documento</option>
                                  <option *ngFor="let doc of this.usuarioService.listaTiposDoc" [value]="doc.Tipo">{{doc.Tipo}}</option>
                                </select>

                                <!--Validaciones Tipo documento-->
                                <div
                                  *ngIf="this.usuarioService.tipoDocumentoEditCuenta.invalid && (this.usuarioService.tipoDocumentoEditCuenta.touched || this.usuarioService.tipoDocumentoEditCuenta.dirty)"
                                  class="alertad mb-20">
                                  <div *ngIf="this.usuarioService.tipoDocumentoEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
                                </div>
                              </div>
                              <div class="col"> <br><label for="NumDocumento">Número documento <span>**</span></label>
                                <input formControlName="NumDocumento" type="text" placeholder="Ingresa número de documento"/>

                                <!--Validaciones Numero documento-->
                                <div
                                  *ngIf="this.usuarioService.documentoEditCuenta.invalid && (this.usuarioService.documentoEditCuenta.touched || this.usuarioService.documentoEditCuenta.dirty)"
                                  class="alertad mb-20">
                                  <div *ngIf="this.usuarioService.documentoEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio
                                  </div>
                                  <div *ngIf="this.usuarioService.documentoEditCuenta.hasError('pattern')"><i class="bi bi-exclamation-triangle-fill"></i> Digite solo números</div>
                                  <div *ngIf="this.usuarioService.documentoEditCuenta.hasError('maxlength')"><i class="bi bi-exclamation-triangle-fill"></i> El numero no debe contener máximo 15
                                    caracteres
                                  </div>
                                </div>
                              </div>
                            </div>
                            <label for="name" class="mt-4">Teléfono <span>**</span></label>
                            <input formControlName="Telefono" type="text" placeholder="Ingrese teléfono"/>

                            <!--Validaciones Numero telefono-->
                            <div
                              *ngIf="this.usuarioService.telefonoEditCuenta.invalid && (this.usuarioService.telefonoEditCuenta.touched || this.usuarioService.telefonoEditCuenta.dirty)"
                              class="alertad mb-20">
                              <div *ngIf="this.usuarioService.telefonoEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es  obligatorio</div>
                              <div *ngIf="this.usuarioService.telefonoEditCuenta.hasError('pattern')"><i class="bi bi-exclamation-triangle-fill"></i> Digite solo números</div>
                              <div *ngIf="this.usuarioService.telefonoEditCuenta.hasError('maxlength')"><i class="bi bi-exclamation-triangle-fill"></i> El número de telefono debe contener máximo 15
                                caracteres
                              </div>
                              <div *ngIf="this.usuarioService.telefonoEditCuenta.hasError('minlength')"><i class="bi bi-exclamation-triangle-fill"></i> El número de telefono debe contener mínimo 7
                                caracteres
                              </div>
                            </div>

                            <label for="name" class="mt-4">Sexo <span>**</span></label>
                            <select class="form-control  " formControlName="Sexo">
                              <option value="">Elige Sexo</option>
                              <option *ngFor="let tipo of this.usuarioService.listaSexo" [value]="tipo.Sexo">{{tipo.Sexo}}</option>
                            </select>
                            <!--Validaciones Sexo-->
                            <div
                              *ngIf="this.usuarioService.sexoEditCuenta.invalid && (this.usuarioService.sexoEditCuenta.touched || this.usuarioService.sexoEditCuenta.dirty)"
                              class="alertad mb-20">
                              <div *ngIf="this.usuarioService.sexoEditCuenta.hasError('required')"> <i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
                            </div>

                            <label for="Direccion" class="mt-4">Dirección <span>**</span></label>
                            <input formControlName="Direccion" type="text" placeholder="Ingrese dirección" />
                            <div
                              *ngIf="this.usuarioService.direccionEditCuenta.invalid && (this.usuarioService.direccionEditCuenta.touched || this.usuarioService.direccionEditCuenta.dirty)"
                              class="alertad mb-20">
                              <div *ngIf="this.usuarioService.direccionEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
                              <div *ngIf="this.usuarioService.direccionEditCuenta.hasError('maxlength')"><i class="bi bi-exclamation-triangle-fill"></i> La Dirección debe contener máximo 50
                                caracteres
                              </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <button type="submit" [disabled]="this.usuarioService.formularioRegistroEdicionDatos.invalid"
                                    class="os-btn w-100">Guardar cambios
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </section>
        </div>
      </div>
    </section>
 <section class="content">
   <div class="content-wrapper">
     <br>
     <section class="content py-5 mb-120"  *ngIf="this.usuarioService.perfilUsuario.IdRol == 1">
       <div class="container">
         <div class="row">
           <section class="col-lg-5 connectedSortable">
             <div class="card">
               <div class="card-body">
                 <div class="tab-content p-0" align="center">
                   <div  style=" width: 200px; height: 200px;-moz-border-radius: 50%;  -webkit-border-radius: 50%;   border-radius: 50%;background: #2C4F61; opacity: 70%;    display: flex; align-items: center;     justify-content: center;"  class="mb-15">
                     <p style="font-size: 120px; font-family:  small-caps; color:white" >{{letra}}</p>
                   </div>
                   <div>
                     <p style="text-transform: capitalize; font-weight: lighter; font-size: 17px" class="colortxt mb-15">{{nombrecompleto}}</p>
                   </div>
                   <a *ngIf="usuario.IdRol == 2" type="button" class="os-btn w-20" href="usuarios/cambiarMiContraseña">Cambiar contraseña</a>
                   <a *ngIf="usuario.IdRol == 1" type="button" class="os-btn w-20" href="Admin/cambiarMiContraseña">Cambiar contraseña</a>
                   <button type="button" (click)="eliminarCuenta()" class="os-btn-danger w-20" title="Eliminar cuenta"><i class="bi bi-x-circle-fill"></i> </button>
                 </div>
               </div>
             </div>
           </section>
           <section class="col-lg-7 connectedSortable">
             <div class="card">
               <div class="card-body">
                 <div class="tab-content p-0">
                   <div class="container">
                     <div class="basic-login">
                       <h2 class="text-center mb-60 colortxt font-weight-light"> <i class="bi bi-person "></i> MI CUENTA</h2>
                       <form class="" [formGroup]="this.usuarioService.formularioRegistroEdicionDatos" (ngSubmit)="modificarDatosCuenta()">
                         <div class="row">
                           <div class="col">   <label for="name">Nombres <span>**</span></label>
                             <input formControlName="Nombres" id="name" type="text" placeholder="Ingresa nombres"/>
                             <!--Validaciones Nombre-->
                             <div
                               *ngIf="this.usuarioService.nombresEditCuenta.invalid && (this.usuarioService.nombresEditCuenta.touched || this.usuarioService.nombresEditCuenta.dirty)"
                               class="alertad mb-20">
                               <div *ngIf="this.usuarioService.nombresEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
                               <div *ngIf="this.usuarioService.nombresEditCuenta.hasError('pattern')"><i class="bi bi-exclamation-triangle-fill"></i> El nombre no debe contener numeros o
                                 caracteres especiales
                               </div>
                               <div *ngIf="this.usuarioService.nombresEditCuenta.hasError('maxlength')"><i class="bi bi-exclamation-triangle-fill"></i> El nombre debe contener máximo 40 caracteres
                               </div>
                             </div></div>
                           <div class="col">
                             <label for="Apellidos">Apellidos <span>**</span></label>
                             <input formControlName="Apellidos" type="text" placeholder="Ingresa Apellidos" />

                             <!--Validaciones Apellidos-->
                             <div
                               *ngIf="this.usuarioService.apellidosEditCuenta.invalid && (this.usuarioService.apellidosEditCuenta.touched || this.usuarioService.apellidosEditCuenta.dirty)"
                               class="alertad mb-20">
                               <div *ngIf="this.usuarioService.apellidosEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
                               <div *ngIf="this.usuarioService.apellidosEditCuenta.hasError('pattern')"><i class="bi bi-exclamation-triangle-fill"></i> El apellido no debe contener números o
                                 caracteres especiales
                               </div>
                               <div *ngIf="this.usuarioService.apellidosEditCuenta.hasError('maxlength')"><i class="bi bi-exclamation-triangle-fill"></i> El apellido debe contener máximo 40 caracteres
                               </div>
                             </div>
                           </div>

                         </div>
                         <br>
                         <label for="Email">Correo<span>**</span></label>
                         <input formControlName="Email" type="text" placeholder="Email" id="Email"/>

                         <!--Validaciones Correo-->
                         <div
                           *ngIf="this.usuarioService.emailEditCuenta.invalid && (this.usuarioService.emailEditCuenta.touched || this.usuarioService.emailEditCuenta.dirty)"
                           class="alertad mb-20">
                           <div *ngIf="this.usuarioService.emailEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
                           <div *ngIf="this.usuarioService.emailEditCuenta.hasError('email')"><i class="bi bi-exclamation-triangle-fill"></i> Digite un correo válido</div>
                         </div>

                         <div class="row">
                           <div class="col mb-20">
                             <br>
                             <label for="name">Tipo documento <span>**</span></label>
                             <select class="form-control" formControlName="TipoDocumento">
                               <option value="">Elige Tipo de documento</option>
                               <option *ngFor="let doc of this.usuarioService.listaTiposDoc" [value]="doc.Tipo">{{doc.Tipo}}</option>
                             </select>

                             <!--Validaciones Tipo documento-->
                             <div
                               *ngIf="this.usuarioService.tipoDocumentoEditCuenta.invalid && (this.usuarioService.tipoDocumentoEditCuenta.touched || this.usuarioService.tipoDocumentoEditCuenta.dirty)"
                               class="alertad mb-20">
                               <div *ngIf="this.usuarioService.tipoDocumentoEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
                             </div>
                           </div>

                           <div class="col"><br><label for="NumDocumento">Número documento <span>**</span></label>
                             <input formControlName="NumDocumento" type="text" placeholder="Ingresa número de documento"
                                    id="NumDocumento"/>

                             <!--Validaciones Numero documento-->
                             <div
                               *ngIf="this.usuarioService.documentoEditCuenta.invalid && (this.usuarioService.documentoEditCuenta.touched || this.usuarioService.documentoEditCuenta.dirty)"
                               class="alertad mb-20">
                               <div *ngIf="this.usuarioService.documentoEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio
                               </div>
                               <div *ngIf="this.usuarioService.documentoEditCuenta.hasError('pattern')"><i class="bi bi-exclamation-triangle-fill"></i> Digite solo números</div>
                               <div *ngIf="this.usuarioService.documentoEditCuenta.hasError('maxlength')"><i class="bi bi-exclamation-triangle-fill"></i> El número no debe contener máximo 15
                                 caracteres
                               </div>
                             </div>
                           </div>
                         </div>
                         <label for="name">Teléfono <span>**</span></label>
                         <input formControlName="Telefono" type="text" placeholder="Ingrese teléfono"/>

                         <!--Validaciones Numero telefono-->
                         <div
                           *ngIf="this.usuarioService.telefonoEditCuenta.invalid && (this.usuarioService.telefonoEditCuenta.touched || this.usuarioService.telefonoEditCuenta.dirty)"
                           class="alertad mb-30">
                           <div *ngIf="this.usuarioService.telefonoEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
                           <div *ngIf="this.usuarioService.telefonoEditCuenta.hasError('pattern')"><i class="bi bi-exclamation-triangle-fill"></i> Digite solo números</div>
                           <div *ngIf="this.usuarioService.telefonoEditCuenta.hasError('maxlength')"><i class="bi bi-exclamation-triangle-fill"></i> El número de teléfono debe contener máximo 15
                             caracteres
                           </div>
                           <div *ngIf="this.usuarioService.telefonoEditCuenta.hasError('minlength')"><i class="bi bi-exclamation-triangle-fill"></i> El número de teléfono debe contener mínimo 7
                             caracteres
                           </div>
                         </div>
                         <br>

                         <label for="name" class="mt-3">Sexo <span>**</span></label>
                         <select class="form-control" formControlName="Sexo">
                           <option value="">Elige Sexo</option>
                           <option *ngFor="let tipo of this.usuarioService.listaSexo" [value]="tipo.Sexo">{{tipo.Sexo}}</option>
                         </select>
                         <!--Validaciones Sexo-->
                         <div
                           *ngIf="this.usuarioService.sexoEditCuenta.invalid && (this.usuarioService.sexoEditCuenta.touched || this.usuarioService.sexoEditCuenta.dirty)"
                           class="alertad mb-20">
                           <div *ngIf="this.usuarioService.sexoEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> El tipo de sexo es obligatorio</div>
                         </div>
                         <label for="Direccion" class="mt-4">Dirección <span>**</span></label>
                         <input formControlName="Direccion" type="text" placeholder="Ingrese dirección" id="Direccion"/>
                         <div
                           *ngIf="this.usuarioService.direccionEditCuenta.invalid && (this.usuarioService.direccionEditCuenta.touched || this.usuarioService.direccionEditCuenta.dirty)"
                           class="alertad mb-20">
                           <div *ngIf="this.usuarioService.direccionEditCuenta.hasError('required')"><i class="bi bi-exclamation-triangle-fill"></i> Estes campo es obligatorio</div>
                           <div *ngIf="this.usuarioService.direccionEditCuenta.hasError('maxlength')"><i class="bi bi-exclamation-triangle-fill"></i> La Dirección debe contener máximo 50
                             caracteres
                           </div>
                         </div>
                         <br>
                         <br>
                         <br>
                         <button type="submit" [disabled]="this.usuarioService.formularioRegistroEdicionDatos.invalid"
                                 class="os-btn w-100">Guardar cambios
                         </button>
                       </form>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </section>
         </div>
       </div>
     </section>

   </div>
 </section>
