<h2> Lista Materiales</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">idProducto</th>
    <th scope="col">Nombre</th>
  </tr>
  </thead>
  <tbody *ngFor="let mate of productoService.ListaDetalleMateriales">
  <tr>
    <td>{{mate.IdDetalleMaterial}}</td>
    <td>{{mate.IdProducto}}</td>
    <td>{{mate.NombreMaterial}}</td>
    <td><i (click)="eliminarMaterial(mate)" class="fa fa-trash fa-lg - text-danger"></i></td>
  </tr>
  </tbody>
</table>
