<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Categoría</th>
    <th scope="col">Garantía</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody *ngFor="let producto of productoService.listaProductos" >
  <tr *ngIf="producto.Estado">
    <td (click)="llenarFormularioProducto(producto)">{{producto.IdProducto}}</td>
    <td (click)="llenarFormularioProducto(producto)">{{producto.Nombre}}</td>
    <td (click)="llenarFormularioProducto(producto)">{{producto.NombreCategoria}}</td>
    <td (click)="llenarFormularioProducto(producto)">{{producto.GarantiaMeses}} Meses</td>
    <td><i (click)="eliminarProducto(producto)" class="bi bi-trash text-danger"></i></td>
    <td><i
      (click)=" detalleProducto(producto.IdProducto); this.productoService.desplegarDetalle =!this.productoService.desplegarDetalle; "
     li class="bi bi-eye" aria-hidden="true"></i></td>
  </tr>
  </tbody>
</table>
