<form class="" [formGroup]="this.productoService.formularioRegistroProductos" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="IdProducto">
  <label for="Nombre">Nombre <span class="text-danger">**</span></label>
  <input formControlName="Nombre" id="Nombre" type="text" placeholder="Ingresa el nombre" class="form-control"/>
  <div
    *ngIf="this.productoService.Nombre.invalid && (this.productoService.Nombre.touched || this.productoService.Nombre.dirty)"
    class="alertad mb-20" style=" ">
    <div *ngIf="this.productoService.Nombre.hasError('required')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
    <div *ngIf="this.productoService.Nombre.hasError('pattern')" class="val"><i class="bi bi-exclamation-triangle-fill"></i>Este campo  no debe contener números
      o caracteres especiales
    </div>
    <div *ngIf="this.productoService.Nombre.hasError('maxlength')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo debe contener máximo 30 caracteres
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <label for="Ancho">Ancho <span class="text-danger">**</span></label>
      <input formControlName="Ancho" type="number" step="0.01" id="Ancho" placeholder="Ancho" class="form-control"/>
      <div
        *ngIf="this.productoService.Ancho.invalid && (this.productoService.Ancho.touched || this.productoService.Ancho.dirty)"
        class="alertad-l mb-20" style=" ">
        <div *ngIf="this.productoService.Ancho.hasError('required')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
        <div *ngIf="this.productoService.Ancho.hasError('max')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Digite una medida válida
        </div>
        <div *ngIf="this.productoService.Ancho.hasError('min')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Digite una medida válida
        </div>
      </div>
    </div>
    <div class="col">
      <label for="Largo">Largo <span class="text-danger">**</span></label>
      <input formControlName="Largo" type="number" step="0.01" id="Largo" placeholder="Largo" class="form-control "/>
      <div
        *ngIf="this.productoService.Largo.invalid && (this.productoService.Largo.touched || this.productoService.Largo.dirty)"
        class="alertad-l mb-20 " style=" ">
        <div *ngIf="this.productoService.Largo.hasError('required')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
        <div *ngIf="this.productoService.Largo.hasError('max')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Digite una medida válida
        </div>
        <div *ngIf="this.productoService.Largo.hasError('min')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Digite una medida válida
        </div>
      </div>
    </div>
    <div class="col">
      <label for="Fondo">Fondo <span class="text-danger">**</span></label>
      <input formControlName="Fondo" type="number" step="0.01" id="Fondo" placeholder="Fondo" class="form-control "/>
      <div
        *ngIf="this.productoService.Fondo.invalid && (this.productoService.Fondo.touched || this.productoService.Fondo.dirty)"
        class="alertad-l mb-20 " style=" ">
        <div *ngIf="this.productoService.Fondo.hasError('required')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
        <div *ngIf="this.productoService.Fondo.hasError('max')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Digite una medida válida
        </div>
        <div *ngIf="this.productoService.Fondo.hasError('min')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Digite una medida válida
        </div>
      </div>
    </div>
  </div>
  <br>
  <label for="TipoPuerta">Tipo de puerta <span class="text-danger">**</span></label>
  <select class="form-control" formControlName="TipoPuerta" id="TipoPuerta">
    <option value="">Elige Tipo de Puerta</option>
    <option *ngFor="let doc of listaTiposPuerta" [value]="doc.Tipo">{{doc.Tipo}}</option>
  </select>
  <div
    *ngIf="this.productoService.TipoPuerta.invalid && (this.productoService.TipoPuerta.touched || this.productoService.TipoPuerta.dirty)"
    class="alertad mb-20" style=" ">
    <div *ngIf="this.productoService.TipoPuerta.hasError('required')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
  </div>
  <br>
  <label for="Descripcion"> Descripción <span class="text-danger">**</span></label>
  <textarea formControlName="Descripción" id="Descripcion" class="form-control "></textarea>
  <div
    *ngIf="this.productoService.Descripcion.invalid && (this.productoService.Descripcion.touched || this.productoService.Descripcion.dirty)"
    class="alertad mb-20" style=" ">
    <div *ngIf="this.productoService.Descripcion.hasError('required')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
    <div *ngIf="this.productoService.Descripcion.hasError('maxLength')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo debe contener máximo 500 caracteres
    </div>
  </div>
  <br>
  <label for="Ruedas">Ruedas <span class="text-danger">**</span></label>
  <select class="form-control" formControlName="Ruedas" id="Ruedas">
    <option value="">Sí o No</option>
    <option *ngFor="let doc of decision" [value]=doc.boo>{{doc.dec}}</option>
  </select>
  <div
    *ngIf="this.productoService.Ruedas.invalid && (this.productoService.Ruedas.touched || this.productoService.Ruedas.dirty)"
    class="alertad mb-20" style=" ">
    <div *ngIf="this.productoService.Ruedas.hasError('required')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
  </div>
  <input type="hidden" formControlName="IdUsuario">
  <br>
  <div class="row">
    <div class="col">
      <label for="Puntos">Puntos <span class="text-danger">**</span></label>
      <input formControlName="Puntos" type="number" id="Puntos" placeholder="Ingresa los puntos"
             class="form-control "/>
      <div
        *ngIf="this.productoService.Puntos.invalid && (this.productoService.Puntos.touched || this.productoService.Puntos.dirty)"
        class="alertad mb-20" style=" ">
        <div *ngIf="this.productoService.Puntos.hasError('required')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
        <div *ngIf="this.productoService.Puntos.hasError('max')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> El máximo de puntos debe ser menor a 1000
        </div>
        <div *ngIf="this.productoService.Puntos.hasError('pattern')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Digite un número válido
        </div>
      </div>
    </div>
    <div class="col">
      <label for="GarantiaMeses">Garantía en meses <span class="text-danger">**</span></label>
      <input formControlName="GarantiaMeses" type="number" id="GarantiaMeses" placeholder="Ingresa la garantía en meses"class="form-control "/>
      <div
        *ngIf="this.productoService.GarantiaMeses.invalid && (this.productoService.GarantiaMeses.touched || this.productoService.GarantiaMeses.dirty)"
        class="alertad mb-20" style=" ">
        <div *ngIf="this.productoService.GarantiaMeses.hasError('required')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
        <div *ngIf="this.productoService.GarantiaMeses.hasError('pattern')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Digite un número válido
        </div>
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="this.productoService.CampoPrecio" >
    <label for="Precio">Precio producto <span class="text-danger">**</span></label>
    <input formControlName="Precio" type="number" id="Precio" placeholder="Ingrese precio producto" class="form-control "/>
    <div
      *ngIf="this.productoService.Precio.invalid && (this.productoService.Precio.touched || this.productoService.Precio.dirty)"
      class="alertad mb-20" style=" ">
      <div *ngIf="this.productoService.Precio.hasError('required')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
      <div *ngIf="this.productoService.Precio.hasError('min')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Precio debe ser mayor a cero
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="this.productoService.CampoPrecio">
    <label for="CantidadStock">Cantidad producto <span class="text-danger">**</span></label>
    <input formControlName="CantidadStock" type="number" id="CantidadStock" placeholder="Ingrese cantidad de producto"class="form-control "/>
    <div
      *ngIf="this.productoService.CantidadStock.invalid && (this.productoService.CantidadStock.touched || this.productoService.CantidadStock.dirty)"
      class="alertad mb-20" style=" ">
      <div *ngIf="this.productoService.CantidadStock.hasError('required')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Este campo es obligatorio</div>
      <div *ngIf="this.productoService.CantidadStock.hasError('min')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> La cantidad debe ser mayor a cero
      </div>
      <div *ngIf="this.productoService.CantidadStock.hasError('pattern')" class="val"><i class="bi bi-exclamation-triangle-fill"></i> Digite un número válido
      </div>
    </div>
  </div>
  <br>
  <input type="hidden" formControlName="IdCategoria">
  <br>
  <button type="submit" [disabled]="this.productoService.formularioRegistroProductos.invalid" class="os-btn w-50">Guardar
  </button>
  <button type="button" class="os-btn w-50" (click)="this.productoService.formularioRegistroProductos.reset(); this.productoService.CampoPrecio = true;">Limpiar</button>
</form>


