<form class="" [formGroup]="this.productoService.formularioRegistroProductos" (ngSubmit)="onSubmit()">

  <input type="hidden" formControlName="IdProducto">
  <label for="Nombre">Nombre <span>**</span></label>
  <input formControlName="Nombre" id="Nombre" type="text" placeholder="Ingresa el nombre" class="form-control" />

  <label for="Ancho">Ancho <span>**</span></label>
  <input formControlName="Ancho" type="number" step="0.01" id="Ancho" placeholder="Ingresa el Ancho"
    class="form-control " />

  <label for="Largo">Largo <span>**</span></label>
  <input formControlName="Largo" type="number" step="0.01" id="Largo" placeholder="Ingresa el Ancho"
    class="form-control " />

  <label for="Fondo">Fondo <span>**</span></label>
  <input formControlName="Fondo" type="number" step="0.01" id="Fondo" placeholder="Ingresa el Fondo"
    class="form-control " />

  <label for="TipoPuerta">Tipo de Puerta <span>**</span></label>
  <select class="form-control" formControlName="TipoPuerta" id="TipoPuerta">
    <option value="">Elige Tipo de Puerta</option>
    <option *ngFor="let doc of listaTiposPuerta" [value]="doc.Tipo">{{doc.Tipo}}</option>
  </select>

  <label for="Descripcion"> Descripcion <span>**</span></label>
  <textarea formControlName="Descripcion" id="Fondo" class="form-control "></textarea>

  <label for="Ruedas">Ruedas <span>**</span></label>
  <select class="form-control" formControlName="Ruedas">
    <option value="">Elige si o no</option>
    <option *ngFor="let doc of decision" [value]=doc.boo>{{doc.dec}}</option>
  </select>

  <input type="hidden" formControlName="IdUsuario">

  <label for="Puntos">Puntos <span>**</span></label>
  <input formControlName="Puntos" type="number" id="Puntos" placeholder="Ingresa los Puntos" class="form-control "/>



  <label for="IdCategoria"> Categoria <span>**</span></label>
  <select class="form-control" formControlName="IdCategoria">
    <option value="">Elige la categoria</option>
    <option *ngFor="let doc of categoria" [value]=doc.id>{{doc.nombre}}</option>
  </select>

  <label for="GarantiaMeses">Garantia en Meses <span>**</span></label>
  <input formControlName="GarantiaMeses" type="number" id="GarantiaMeses" placeholder="Ingresa la garantia en meses" class="form-control "/>


  <div class="mt-10"></div>

  <button type="submit" [disabled]="this.productoService.formularioRegistroProductos.invalid"
    class="os-btn w-50">Guardar</button>

  <button type="button" class="os-btn w-50"
    (click)="this.productoService.formularioRegistroProductos.reset();">Limpiar</button>

  <div class="or-divide"><span></span></div>
</form>
