<section class="content">
  <div class="content-wrapper">
    <br>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-4 connectedSortable">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title">
                  <i class="bi bi-file-earmark-plus-fill text-secondary"></i> Registro
                </h2>
              </div>
              <div class="card-body">
                <div class="tab-content p-0">
                  <app-registrar-iva></app-registrar-iva>
                </div>
              </div>
            </div>
          </section>
          <section class="col-lg-8 connectedSortable">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title">
                  <i class="fas fa-percentage text-secondary"></i> IVA
                </h2>
              </div>
              <div class="card-body">
                <div class="tab-content p-0">
                  <app-listar-iva></app-listar-iva>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
