<section class="col-lg-15 connectedSortable">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title colortxt font-weight-light"><i class="bi bi-tags"></i> PRECIOS
      </h2>
      <button type="button" style="float: right;" class="btn"
              (click)="this.productoService.FormularioPrecio = !this.productoService.FormularioPrecio "
              *ngIf="this.solicitudesPersonalizadasService.Montajes.Estado == 'En proceso de cotizacion'" >
        <i
          class="bi bi-folder-plus"></i> Agregar
      </button>
    </div>
    <div class="card-body">
      <div class="tab-content p-0">
        <div *ngIf="this.productoService.FormularioPrecio">
          <app-agregar-precio-m></app-agregar-precio-m>
        </div>

        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha inicial</th>
            <th scope="col">Fecha final</th>
            <th scope="col">Usuario</th>
          </tr>
          </thead>
          <tbody *ngFor="let precio of productoService.listaPrecios">
          <tr>
            <td>{{precio.IdPrecioProducto}}</td>
            <td>{{precio.Precio}}</td>
            <td>{{precio.FechaInicio | date:'dd-MM-yyyy'}}</td>
            <td>
              <ng-container *ngIf="(precio.FechaFin  | date:'dd-MM-yyyy') == '01-01-0001'; else venc">
                Presente
              </ng-container>
              <ng-template #venc>
                {{precio.FechaFin  | date:'dd-MM-yyyy'}}
              </ng-template>
            </td>
            <td>{{precio.NombreUsuario}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
