<section class="login-area pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="basic-login">
          <h3 class="text-center mb-60">Cambio De Contraseña</h3>
          <form class="" [formGroup]="this.usuarioService.formularioCambioContrasena" (ngSubmit)="cambio()">
            <label for="ContrasenaAntigua">Contraseña Actual<span>**</span></label>
            <input id="ContrasenaAntigua" formControlName="ContrasenaAntigua" type="password" placeholder="Ingrese Contraseña actual"/>
            <!--Validaciones Contraseña-->
            <div
              *ngIf="this.usuarioService.contrasenaActual.invalid && (this.usuarioService.contrasenaActual.touched || this.usuarioService.contrasenaActual.dirty)"
              class="text-danger mb-20 text-center">
              <div *ngIf="this.usuarioService.contrasenaActual.hasError('required')">La contraseña es obligatoria</div>
            </div>
            <label for="Contrasena">Contraseña Nueva<span>**</span></label>
            <input id="Contrasena" formControlName="Contrasena" type="password" placeholder="Ingrese Contraseña"/>
            <!--Validaciones Contraseña-->
            <div
              *ngIf="this.usuarioService.contrasenaNueva.invalid && (this.usuarioService.contrasenaNueva.touched || this.usuarioService.contrasenaNueva.dirty)"
              class="text-danger mb-20 text-center">
              <div *ngIf="this.usuarioService.contrasenaNueva.hasError('required')">La contraseña es obligatoria</div>
            </div>
            <label for="ConfirmarContrasena">Confirmar Contraseña<span>**</span></label>
            <input id="ConfirmarContrasena" formControlName="ConfirmarContrasena" type="password" placeholder="Ingrese contraseña"/>
            <!--Validaciones confirmar Contraseña-->
            <div
              *ngIf="this.usuarioService.ConfirmarcontrasenaNueva.invalid && (this.usuarioService.ConfirmarcontrasenaNueva.touched || this.usuarioService.ConfirmarcontrasenaNueva.dirty)"
              class="text-danger mb-20 text-center">
              <div *ngIf="this.usuarioService.ConfirmarcontrasenaNueva.hasError('required')">La contraseña de confirmación es
                obligatoria
              </div>
              <div *ngIf="this.usuarioService.ConfirmarcontrasenaNueva.hasError('ContrasenasDiferentes')">Las contraseñas
                deben coincidir
              </div>
            </div>
            <div class="mt-10"></div>
            <button type="submit" [disabled]="this.usuarioService.formularioCambioContrasena.invalid"
                    class="os-btn w-100">Cambiar Contraseña
            </button>
            <div class="or-divide"><span></span></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
