<div class="contcarga">
    <div class="loader"></div>
</div>
<br>

<div class="div1">
    <div class="row" style="margin-left: 25%;">
        <div class="col-md-4">
            <app-registro-usuario></app-registro-usuario>
        </div>
        <div class="cold-md-5" style="width: 50%; margin-left: 5%;">
            <app-lista-usuarios></app-lista-usuarios>
        </div>
    </div>
</div>
<div>
    <div *ngIf="this.usuarioService.desplegarDetalle" style="margin-left: 25%;">
        <app-detalle-usuario></app-detalle-usuario>
    </div>
</div>