<section class="content">
  <div class="content-wrapper">
    <br>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-7 connectedSortable" *ngIf="!this.productoService.desplegarDetalle">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title colortxt font-weight-light">
                  <i class="bi bi-box-seam "></i>
                  PRODUCTOS
                </h2>
              </div>
              <div class="card-body">
                <div class="tab-content p-0" >
                  <app-lista-productos></app-lista-productos>
                </div>
              </div>
            </div>
          </section>
          <section class="col-lg-5 connectedSortable" *ngIf="!this.productoService.desplegarDetalle">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title colortxt font-weight-light">
                  <i class="bi bi-plus-circle"></i>
                   REGISTRO
                </h2>
              </div>
              <div class="card-body">
                <div class="tab-content p-0" >
                  <app-registro-editar-productos></app-registro-editar-productos>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div *ngIf="this.productoService.desplegarDetalle" >
        <app-detalle-productos></app-detalle-productos>
      </div>
    </section>
  </div>
</section>
