<header style="background-color:#F1F0F5 ;">
    <div id="header-sticky" class="header__area box-25">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                    <div class="logo">
                        <h4>INNOSHOP</h4>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-2 col-sm-1 col-2">
                    <div class="header__right p-relative">
                        <div class="main-menu main-menu-2 d-none d-lg-block text-center">
                            <nav>
                                <ul>

                                    <li class=""><a [routerLink]="['/productos/inicio']" >Tienda</a>

                                    </li>
                                    <li class=""><a [routerLink]="['/solicitudes/carrito']" >Carrito</a>

                                    </li>
                                    <li class="has-dropdown"><a href="blog.html">Pedidos</a>
                                        <ul class="submenu transition-3">
                                            <li><a href="/solicitudes/Solicitud">Solicitud</a></li>
                                            <li><a href="/solicitudes/MisSolicitudes">Mis solicitudes</a></li>
                                            <li><a href="blog-no-sidebar.html">Historial de compras</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">Servicios</a>
                                        <ul class="submenu transition-3">
                                            <li><a href="/solicitudes/Montajes">Montajes</a></li>
                                            <li><a href="/solicitudes/MisMontajes">Mis montajes</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="Micuenta.html">Ruleta</a></li>
                                    <li>
                                        <a *ngIf="!usuarioService.inicioSesion" href="usuarios/login">Iniciar sesion</a>
                                    </li>
                                    <a *ngIf="usuarioService.inicioSesion" [routerLink]="['/usuarios/MiCuenta']">Mi cuenta</a>
                                    
                                    <li><a href="contact.html ">Contacto</a></li>
                                    <li *ngIf="usuarioService.inicioSesion"><button class="btn-danger " (click)="configuracionService.cerrarSesion() ">Cerrar Sesion</button>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu-btn text-center d-lg-none ">
                            <a href="javascript:void(0); " class="mobile-menu-toggle "><i class="fas fa-bars "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
