<section class="content">
  <div class="content-wrapper">
    <br>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <section class="col-lg-7 connectedSortable">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title colortxt font-weight-light">
                  <i class="bi bi-info-circle"></i>
                  INFORMACIÓN MONTAJE
                </h2>
                <div style="float: right" >
                  <a href="Admin/respuestasM/{{this.solicitudesPersonalizadasService.Montajes.IdMontaje}}" class="btn colortxt font-weight-light">
                    <i class="bi bi-chat-square-dots-fill colortxt"></i> Respuestas</a>
                  <a href="Admin/editarM/{{this.solicitudesPersonalizadasService.Montajes.IdMontaje}}" class="btn  colortxt font-weight-light"><i class="bi bi-pencil-fill colortxt"></i> Editar</a>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content p-0">
                  <div class="row">
                    <div class="col">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                      <label class="p-1 colortxt"> Id Montaje: </label>
                      {{this.solicitudesPersonalizadasService.Montajes.IdMontaje}}
                    </div>
                    <div class="col">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                      <label class="p-1 colortxt"> Usuario: </label>
                      {{this.solicitudesPersonalizadasService.Montajes.Usuario}}
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col ">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                      <label class="p-1 colortxt"> Fecha: </label>
                      {{this.solicitudesPersonalizadasService.Montajes.Fecha}}
                    </div>
                    <div class=" col ">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                      <label class="p-1 colortxt"> Dirección: </label>
                      {{this.solicitudesPersonalizadasService.Montajes.Direccion}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col ">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                      <label class="p-1 colortxt">Alto: </label>
                      {{this.solicitudesPersonalizadasService.Montajes.Alto}}
                    </div>
                    <div class="col ">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                      <label class="p-1 colortxt"> Ancho: </label>
                      {{this.solicitudesPersonalizadasService.Montajes.Ancho}}
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                      <label class="p-1 colortxt"> Fondo: </label>
                      {{this.solicitudesPersonalizadasService.Montajes.Fondo}}
                    </div>
                    <div class="col ">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                      <label class="p-1 colortxt"> Estado: </label>
                      {{this.solicitudesPersonalizadasService.Montajes.Estado}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col ">
                      <i class="bi bi-arrow-right-short colortxt"></i>
                      <label class="p-1 colortxt"> Valor total: </label>
                      {{this.solicitudesPersonalizadasService.Montajes.ValorTotal}}
                    </div>
                  </div>
                  <div>
                    <div class="row bg-gray-light">
                      <div class="col">
                        <label class="p-1 colortxt ml-3"> Descripción: </label>
                      </div>
                    </div>
                    <div class="row bg-gray-light">
                      <div class="col">
                        <label class="font-weight-light text-justify ml-4 mr-3" style="text-align: justify-all; ">
                          {{this.solicitudesPersonalizadasService.Montajes.Descripcion}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col "
                         *ngIf="(this.solicitudesPersonalizadasService.Montajes.Estado != 'Aceptada')&&
                       (this.solicitudesPersonalizadasService.Montajes.Estado == 'Enviada' ||
                       this.solicitudesPersonalizadasService.Montajes.Estado == 'Modificada'||
                       this.solicitudesPersonalizadasService.Montajes.Estado == 'Devuelta')">
                      <button class="btn btn-sm btn-primary" (click)="cotizar()">Cotizar</button>
                    </div>
                    <div class="col "
                         *ngIf="( this.solicitudesPersonalizadasService.Montajes.Estado == 'Pagada')">
                      <button class="btn btn-sm btn-primary" (click)="Fabricar()">Fabricar</button>
                    </div>
                    <div class="col"
                         *ngIf="this.solicitudesPersonalizadasService.Montajes.Estado == 'En proceso de fabricacion'">
                      <button class="btn btn-sm btn-success" (click)="Terminar()">Terminar</button>
                    </div>
                    <div class="col"
                         *ngIf="this.solicitudesPersonalizadasService.Montajes.Estado == 'Terminada'">
                      <button class="btn btn-sm btn-success" (click)="Entregar()">Entregar</button>
                    </div>
                    <div class="col"
                         *ngIf="this.solicitudesPersonalizadasService.Montajes.Estado != 'Aceptada' &&
                       this.solicitudesPersonalizadasService.Montajes.Estado == 'Rechazada'||
                       this.solicitudesPersonalizadasService.Montajes.Estado == 'Devuelta'||
                       this.solicitudesPersonalizadasService.Montajes.Estado == 'Cotizada'">
                      <button class="btn btn-sm btn-dark" (click)="cotizar()">Reiniciar cotización</button>
                    </div>
                    <div class="col"
                         *ngIf="this.solicitudesPersonalizadasService.Montajes.Estado != 'Aceptada' &&
                       this.solicitudesPersonalizadasService.Montajes.Estado == 'En proceso de cotizacion'">
                      <button class="btn btn-sm btn-success" (click)="TerminarCotizacion()">Terminar cotización</button>
                    </div>
                    <div class="col"
                         *ngIf="this.solicitudesPersonalizadasService.Montajes.Estado != 'Aceptada' &&
                       this.solicitudesPersonalizadasService.Montajes.Estado != 'Rechazada' &&
                       this.solicitudesPersonalizadasService.Montajes.Estado != 'Cancelada'&&
                       this.solicitudesPersonalizadasService.Montajes.Estado != 'Pagada'&&
                       this.solicitudesPersonalizadasService.Montajes.Estado != 'En proceso de fabricacion'&&
                       this.solicitudesPersonalizadasService.Montajes.Estado != 'Terminada'&&
                       this.solicitudesPersonalizadasService.Montajes.Estado != 'Entregada'">
                      <button class="btn btn-sm btn-danger" (click)="cancelar()">Rechazar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="col-lg-7 connectedSortable">
            <app-listar-detalle-producto-m></app-listar-detalle-producto-m>
          </section>
          <section class="col-lg-5 connectedSortable" style="margin-top: -39%" *ngIf=" this.solicitudesPersonalizadasService.Montajes.Estado == 'En proceso de cotizacion'">
            <app-registrar-editar-producto-montaje></app-registrar-editar-producto-montaje>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
<section class="content">
  <div class="content-wrapper">
    <br>
    <section class="content">
      <section class="content">
        <section class=" connectedSortable">
          <div *ngIf="this.productoService.desplegarDetalle">
            <app-detalle-producto-detalle-m></app-detalle-producto-detalle-m>
          </div>
        </section>
      </section>
    </section>
  </div>
</section>




