<div align="center" id="htmlData">
  <br>
  <br>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Desde">
      <input matEndDate formControlName="end" placeholder="Hasta" (dateInput)="Reporte()">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Fecha Inicial Erronea</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Fecha Final Erronea</mat-error>
  </mat-form-field>
  <div>
    <b>Ventas solicitudes Personalizadas</b>
    <p>Cantidad productos: {{ReporteV.CantProdPerso}}</p>
    <p>Monto :  {{ReporteV.MontoPerso}}</p>
    <br>
    <b>Venta productos</b>
    <p>Cantidad productos :{{ReporteV.CantProducto}}</p>
    <p>Monto :  {{ReporteV.MontoProd}}</p>
    <p>Numero de descuentos :  {{ReporteV.NumDescuentosProd}}</p>
    <p>Monto descuentos :  {{ReporteV.MontoDescuentosProdu}}</p>
    <br>
    <b>Total en ventas</b>
    <p>Total global :  {{ReporteV.TotalGlobal}}</p>
    <p>Total  descuentos :  {{ReporteV.TotalDescuentos}}</p>
    <p>Total  ingresos :  {{ReporteV.TotalIngresos}}</p>
  </div>
  <br>
  <h3>INNOSHOP REPORTE VENTAS</h3>
</div>
<div align="center">
  <button class="btn btn-danger" (click)="downloadPDF()">PDF</button>
</div>

