<section class="col-lg-15 connectedSortable mt-5">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title colortxt font-weight-light"><i class="bi bi-bounding-box "></i> MATERIALES
      </h2>
            <button *ngIf="this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado == 'En proceso de cotizacion'" type="button" style="float: right; color: #2C4F61" class="btn colortxt font-weight-light"  (click)="this.productoService.formularioMateriales = !this.productoService.formularioMateriales "><i class="bi bi-folder-plus colortxt"></i> Agregar
            </button>
    </div>
    <div class="card-body">
      <div class="tab-content p-0">
        <div *ngIf="this.productoService.formularioMateriales">
          <app-agregar-material></app-agregar-material>
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Usuario</th>
            <th></th>
          </tr>
          </thead>
          <tbody *ngFor="let mate of productoService.ListaDetalleMateriales">
          <tr>
            <td>{{mate.IdDetalleMaterial}}</td>
            <td>{{mate.NombreMaterial}}</td>
            <td>{{mate.Usuario}}</td>
            <td><i *ngIf="this.solicitudesPersonalizadasService.SolicitudPersonalizada.Estado == 'En proceso de cotizacion'" (click)="eliminarMaterial(mate)" class="fa fa-trash fa-lg - text-danger pointer"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
