<section class="col-lg-15 connectedSortable">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title colortxt font-weight-light">
        <i class="bi bi-image"></i> IMAGEN
      </h2>
      <button type="button" class="btn colortxt font-weight-light" style="float: right; color: #2C4F61"
              (click)="this.productoService.FormularioImagen = !this.productoService.FormularioImagen "><i class="bi bi-folder-plus colortxt"></i> Agregar
      </button>
    </div>
    <div class="card-body" align="center">
      <div class="tab-content p-0">
        <div *ngIf="this.productoService.FormularioImagen">
          <app-registrar-imagen></app-registrar-imagen>
        </div>
        <div style="" align="center">
          <owl-carousel-o [options]="customOptions ">
            <ng-template carouselSlide *ngFor="let imagen of productoService.listaImagenesProducto ">
              <img src="assets/img/Imagenes/{{imagen.RutaImagen}}" style="height: 390px; width: 390px">
              <!-- <caption><i (click)="eliminarImagen(imagen) " class="bi bi-trash text-danger "></i></caption> -->
              <br>
              <button class="btn btn-sm  btn-danger" style="font-family: monospace;" (click)="eliminarImagen(imagen) "><i class="bi bi-x-circle-fill"></i> Eliminar</button>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
