<section class="col-lg-15 connectedSortable">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">
                <i class="bi bi-images"></i> Imagen
            </h2>
            <button type="button" class="btn" style="float: right;" (click)="this.productoService.FormularioImagen = !this.productoService.FormularioImagen "><i class="bi bi-cloud-plus"></i> Agregar</button>
        </div>
        <div class="card-body">
            <div class="tab-content p-0">
                <div *ngIf="this.productoService.FormularioImagen">
                    <app-registrar-imagen></app-registrar-imagen>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Ruta Imagen</th>
                            <th scope="col">Id Usuario</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let imagen of productoService.listaImagenes">
                        <tr>
                            <td>{{imagen.IdImagen}}</td>
                            <td>{{imagen.RutaImagen}}</td>
                            <td>{{imagen.IdUsuario}}</td>
                            <td><i (click)="eliminarImagen(imagen)" class="bi bi-trash text-danger"></i></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>