<section class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">
                    <i class="bi bi-info-circle-fill text-primary"></i> Información del Producto
                </h2>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <div class="row">   
                    </div>
                    <div class="row">
                        <div class=" col ">
                            <i class="bi bi-arrow-right-short text-primary"></i>
                            <label for=" " class="p-1 ">  Nombre:  </label> {{this.productoService.detalleProducto.Nombre}}
                        </div>
                        <div class="col">
                            <i class="bi bi-arrow-right-short text-primary"></i>
                            <label for=" " class="p-1 ">  Ancho:  </label> {{this.productoService.detalleProducto.Ancho}}
                        </div>
                    
                    </div>
                    <div class="row">
                        <div class="col ">
                            <i class="bi bi-arrow-right-short text-primary"></i>
                            <label for=" " class="p-1 ">  Tipo puerta:  </label> {{this.productoService.detalleProducto.TipoPuerta}}
                        </div>
                    
                        <div class="col">
                            <i class="bi bi-arrow-right-short text-primary"></i>
                            <label for=" " class="p-1 ">  Fondo:  </label> {{this.productoService.detalleProducto.Fondo}}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col ">
                            <i class="bi bi-arrow-right-short text-primary"></i>
                            <label for=" " class="p-1 ">  Ruedas:  </label> {{this.productoService.detalleProducto.Ruedas}}
                        </div>
                        <div class="col ">
                            <i class="bi bi-arrow-right-short text-primary"></i>
                            <label for=" " class="p-1 ">Largo:  </label> {{this.productoService.detalleProducto.Largo}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col ">
                            <i class="bi bi-arrow-right-short text-primary"></i>
                            <label for=" " class="p-1 ">  Precio:  </label>{{this.productoService.detalleProducto.Precio}}
                        </div>
                        <div class="col ">
                            <i class="bi bi-arrow-right-short text-primary"></i>
                            <label for=" " class="p-1 ">  Descripción:  </label> {{this.productoService.detalleProducto.Descripcion}}
                        </div>
                    
                    </div>
                    <div class="row">
                        
                        <div class="col ">
                            <i class="bi bi-arrow-right-short text-primary"></i>
                            <label for=" " class="p-1 ">  Puntos:  </label> {{this.productoService.detalleProducto.Puntos}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col ">
                            <i class="bi bi-arrow-right-short text-primary"></i>
                            <label for=" " class="p-1 ">  Meses de garantía:  </label> {{this.productoService.detalleProducto.GarantiaMeses}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i class="bi bi-arrow-right-short text-primary"></i>
                            <label for=" " class="p-1 "> Materiales:  </label>
                             <ng-container *ngFor="let material of productoService.ListaDetalleMateriales">
                               {{material.NombreMaterial  }}
                            </ng-container>
                        </div>
                        <div class="col ">
                             <button (click)="agregarCarrito(this.productoService.detalleProducto.IdProducto)" class="btn-primary p-3">Agregar a carrito</button>
                        </div>
                    </div>
                    
                    
                </div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody *ngFor="let imagen of productoService.listaImagenesProducto">
                <tr><td>{{imagen.RutaImagen}}</td></tr>
            </tbody>
        </table>
    </div>
    
</section>
