<section class="col-lg-15 connectedSortable">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title"><i class="bi bi-tags-fill text-primary"></i> Porcentajes ruleta
      </h2>
      <button type="button" style="float: right;" class="btn"
              (click)="this.descuentosService.formPorcentaje = !this.descuentosService.formPorcentaje "><i
        class="bi bi-folder-plus"></i> Agregar
      </button>
    </div>
    <div class="card-body">
      <div class="tab-content p-0">
        <div *ngIf="this.descuentosService.formPorcentaje">
          <app-registrar-porcentaje></app-registrar-porcentaje>
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Porcentaje</th>
            <th scope="col">Estado</th>
            <th></th>
          </tr>
          </thead>
          <tbody *ngFor="let porcentaje of descuentosService.listaPorcentajes">
          <tr>
            <td>{{porcentaje.IdPorcentajeRuleta}}</td>
            <td>{{porcentaje.Porcentaje}}</td>
            <td>{{porcentaje.Estado ? 'activo' : 'inactivo'}}</td>
            <td>
              <button (click)="editarPorcentaje(porcentaje)" class="btn-info">Activar/Descativar</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
