  <div class="card">
    <div class="card-header">
      <h2 class="card-title  colortxt font-weight-light"><i class="bi bi-percent"></i> PORCENTAJES RULETA
      </h2>
      <button type="button" class="btn colortxt font-weight-light" style="float: right; color: #2C4F61"
              (click)="this.descuentosService.formPorcentaje = !this.descuentosService.formPorcentaje "><i
        class="bi bi-folder-plus"></i> Agregar
      </button>
    </div>
    <div class="card-body">
      <div class="tab-content p-0">
        <div *ngIf="this.descuentosService.formPorcentaje">
          <app-registrar-porcentaje></app-registrar-porcentaje>
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Porcentaje</th>
            <th scope="col">Estado</th>
            <th></th>
          </tr>
          </thead>
          <tbody *ngFor="let porcentaje of descuentosService.listaPorcentajes">
          <tr>
            <td>{{porcentaje.IdPorcentajeRuleta}}</td>
            <td>{{porcentaje.Porcentaje}}</td>
            <td style="text-transform: capitalize">{{porcentaje.Estado ? 'activo' : 'inactivo'}}</td>
            <td>

              <i class="bi bi-toggle-on text-success" *ngIf="porcentaje.Estado" (click)="editarPorcentaje(porcentaje)"></i>
              <i class="bi bi-toggle-off text-secondary" *ngIf="!porcentaje.Estado" (click)="editarPorcentaje(porcentaje)"></i>
              <!--<button (click)="editarPorcentaje(porcentaje)" class="btn-info">Activar/Descativar</button>!-->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
